#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



#card1{
width: 20rem;
height: 30rem auto;
 margin: 15px ;
 border-radius: 8px;
}

#card2{
width: 20rem ;
height: 30rem auto;
 margin: 15px ;
 border-radius: 8px;
}

#card3{
 width: 20rem;
 height: 30rem auto;
 margin: 15px ;
 border-radius: 8px;
}

#maincard{
  background-color: rgb(47, 98, 192);
  width: 30vw auto;
  height: 50vh auto;
  border-radius: 10px;
}

#buttons{
  width: 100%;
  display: inline-block;
  border-radius: 25px;
}